{% extends 'based.html' %} {% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h1>S3 Versioning</h1><br>
            <form id="challenge_s3">
                <div class="form-group">
                    <label for="token">請輸入答案:</label>
                    <input type="text" class="form-control" id="token" placeholder="Enter Token" name="token">
                </div>
                <center><button type="submit" class="btn btn-primary">送出答案</button></center>
            </form>

            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright 2020 © eCloudvalley Digital Technology Co., Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
<script>
    var success = false;
    const quiz_slug = "s3_version";
    $(document).ready(function(){
        $("#challenge_s3").hide();
        $.get(
            "/auto_check",
            function(data){
                data = JSON.parse(data);
                for(var i = 0;i < data.length;i++){
                    if(data[i]["quiz_slug"] == quiz_slug){
                        success = true;
                    }
                }
                if(success == true){
                    Swal.fire("You have successfully done this quiz !", "", "success").then((result) => {
                        window.location = "/challenge/";
                    });
                }else{
                    $("#challenge_s3").show();
                }
            }
        )
    });
    $("#challenge_s3").submit(function(){
        $.post(
            "/challenge/check",
            "quiz_slug="+quiz_slug+"&token="+$("#token").val(),
            function(data){
                if(JSON.parse(data)["success"] == true){
                    Swal.fire("Correct", "", "success").then((result) => {
                        window.location = "/challenge/"
                    });
                }else{
                    Swal.fire("Failed", "", "error").then((result) => {
                        $("#token").val("")
                    });
                }
            }
        )
        return false;
    });
</script>
{% endblock %}