{% include "header.twig" %}
<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">
        <h1 class="content-heading" style="text-align: center">Team DashBoard</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="block block-themed" id="event_block">
                    <div class="block-header bg-corporate-dark">
                        <h3 class="block-title">
                            <i class="fas fa-cloud"></i> &nbsp;Event
                        </h3>
                    </div>
                    <div class="block-content">
                        <h3 class="h4 font-w700 text-uppercase mb-20">Event Name : <span id="ename"></span></h3>
                        <div class="dropdown-divider mb-20"></div>
                        <h4 class="h6 font-w400 text-uppercase mb-1">Event ID : <span id="eid"></span></h4>
                        <h4 class="h6 font-w400 text-uppercase">Team ID : <span id="teamId"></span></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block block-themed block-rounded" id="scoreboard-block">
                    <div class="block-header bg-corporate-darker pt-30 pb-30">
                        <h3 class="block-title">
                            <i class="fas fa-star"></i> &nbsp;ScoreBoard
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" onclick="go_scoreboard()">
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="block block-themed block-rounded" id="event-history-block">
                    <div class="block-header bg-corporate-darker pt-30 pb-30">
                        <h3 class="block-title">
                            <i class="fas fa-history"></i> &nbsp;Event History
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" onclick="go_history()">
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block block-themed block-rounded" id="now-score-block">
                    <div class="block-header bg-gd-dusk">
                        <h3 class="block-title text-center">
                            Now Score
                        </h3>
                    </div>
                    <div class="block-content" style="text-align: center">
                        <h3 id="now_score"></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="block block-themed block-rounded" id="module_block">
            <div class="block-header bg-gd-aqua">
                <h3 class="block-title">
                    <i class="fas fa-cubes" style="font-size: 18px;"></i> &nbsp;Module
                </h3>
                <div class="block-options">
                    <button type="button" class="btn btn-sm btn-alt-primary">
                        <i class="fas fa-book"></i> Readme
                    </button>
                </div>
            </div>
            <div class="block-content">
                <h3 class="h4 font-w700 text-uppercase mb-20"><span id="module_name"></span></h3>
                <div class="dropdown-divider mb-20"></div>
                <div class="form-group row">
                    <label class="col-12" for="example-text-input">Please give me your endpoint</label>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="endpoint_field" name="endpoint_field" placeholder="Ex : http://example.com/">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" id="update_endpoint_btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
<script>
    window.pagename = "{{ page.name }}";
</script>
{% include "footer.twig" %}
<script src="/assets/js/pages/dashboard.js"></script>