<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block scripts %}
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    
    <!-- Bootstrap CSS-->
    
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    
    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>
    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
            <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            <a class="logo" href="index.html" style="height: 50px;margin:auto;">
                                <img src="{% static 'images/icon/logo.png' %}" style="height: inherit;" />
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            {% if not user.is_superuser  %} 
                            <li class="{{ index_page }}">
                                <a class="js-arrow" href="{% url 'index' %}">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            </li>
                            {% endif %}  
                            <li class="{{ chart_page }}">
                                <a href="{% url 'chart' %}">
                                    <i class="fas fa-chart-pie-alt"></i>Charts</a>
                            </li>
                            {% if user.is_superuser  %}
                            <li class="{{ setting_page }}">
                                <a href="{% url 'setting' %}">
                                    <i class="fas fa-tools"></i>Setting</a>
                            </li>
                            {% endif %}
                           
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- END HEADER MOBILE-->

            <!-- MENU SIDEBAR-->
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="logo" style="text-align: center;">
                    <a href="#" style="width:100%;height:50px">
                        <img src="{% static 'images/icon/logo.png' %}" style="height: inherit;" />
                    </a>
                </div>
                <div class="menu-sidebar__content js-scrollbar1">
                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar__list">
                            {% if not user.is_superuser  %} 
                            <li class="{{ index_page }}">
                                <a class="js-arrow" href="{% url 'index' %}">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            </li>
                            {% endif %}  
                            <li class="{{ chart_page }}">
                                <a href="{% url 'chart' %}">
                                    <i class="fas fa-chart-pie-alt"></i>Charts</a>
                            </li>
                            {% if user.is_superuser  %}
                            <li class="{{ setting_page }}">
                                <a href="{% url 'setting' %}">
                                    <i class="fas fa-tools"></i>Setting</a>
                            </li>
                            {% endif %}
                            <!-- {% if user.is_superuser  %}
                            <li class="{{ challenge_setting_page }}">
                                <a href="{% url 'challenge_setting' %}">
                                    <i class="fas fa-trophy"></i>Challenge Setting</a>
                            </li>
                            {% endif %} -->
                            {% if not user.is_superuser  %} 
                            <li class="{{ challenge_page }}">
                                <a class="js-arrow" href="{% url 'challenge' %}">
                                    <i class="fas fa-trophy"></i>Challenge</a>
                            </li>
                            {% endif %}  
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END MENU SIDEBAR-->

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <form class="form-header" action="" method="POST" style="opacity: 0;">
                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                                <div class="header-button">  
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">{{ user.get_username }}</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                        
                                                    <div class="image">
                                                        <a href="#">
                                                            <i class="fa fa-user" style="font-size: 3.7em;" aria-hidden="true"></i>
                                                            
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">{{ user.get_username }}</a>
                                                        </h5>
                                                        <a href="#" class="email">{{ user.email }}</a>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <a href="/logout">
                                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- HEADER DESKTOP-->

                <!-- MAIN CONTENT-->
                {% block content %}
                {% endblock %}
                <!-- END MAIN CONTENT-->
                <!-- END PAGE CONTAINER-->
            </div>

        </div>

        <!-- Jquery JS-->
        
        <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
        <!-- Bootstrap JS-->
        <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script> 
        <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
        
        <!-- Vendor JS       -->
        <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
        <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
        <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
        <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
        <script src="https://kit.fontawesome.com/f6caad9293.js" crossorigin="anonymous"></script>
        

        <!-- Main JS-->
        <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}
    </body>

</html>

