{% extends 'based.html' %} {% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                {% for quiz in all_quiz %}
                    <div class="col-3 challenge">
                        <div class="card" onclick="go_challenge(this)" data-quiz-slug="{{ quiz.quiz_slug }}" style="height: 100%;border-radius:10px;cursor:pointer;">
                            <div class="card-body" style="display:flex;place-content:center;">
                                <div class="card-title no-select" style="display:flex;align-items:center;margin:0 !important;text-align:center">
                                    <div style="font-size: 20px;">
                                        <img src="{{ quiz.quiz_img }}" style="max-width: 150px;height:150px">
                                        <br>{{ quiz.quiz_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright 2020 © eCloudvalley Digital Technology Co., Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
<script>
    $(document).ready(function(){
        console.log(true);
        $.get(
            "/auto_check",
            function(data){
                data = JSON.parse(data);
                if(data.length > 0){
                    for(var i = 0;i < data.length;i++){
                        if($("div[data-quiz-slug="+data[i]["quiz_slug"]+"]").length != 0){
                            $("div[data-quiz-slug="+data[i]["quiz_slug"]+"]").addClass("challenge-success")
                        }
                    }
                }
            }
        )
    });
    function go_challenge(element){
        // console.log($(element).attr("data-quiz-slug"));
        window.location = "/challenge/"+$(element).attr("data-quiz-slug");
    };
</script>
{% endblock %}