 {% extends 'based.html' %} {% block content %} {% load staticfiles%}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">SandBag</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Endpoint</h3>
                            </div>
                            <hr>
                            <div class="card-div-0">
                                <form method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    <form method="POST" action="/ajax_sandept">
                                        <div class="form-group has-success">
                                            <label for="endpoint" class="control-label mb-1">Endpoint</label>
                                            <input id="sandbag_endpoint" name="endpoint" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                        </div>
                                        <div style="text-align:center">
                                            <button type="button" class=" btn-success btn-lg btn-info" id="sandbag_btn_submit">Submit</button>
                                            <a>&nbsp;&nbsp;</a>
                                            <button type="button" class=" btn-lg btn-info" style="background-color:red;" id="sandbag_btn_reset">Reset</button>
                                    </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">SandBag</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Info</h3>
                            </div>
                            <hr>
                            <div class="card-div-0">
                                <font style="font-size:30px">Score :&nbsp;&nbsp; </font>
                                <font style="font-size:30px" id='sandscr_result'></font>
                                </br>
                                <label for="cc-name" class="control-label mb-1" style="font-size:17px ;padding-top:15px">Endpoint : </label>
                                <p style="font-size:14px" id='sandept_result'>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">SandBag</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Error Message</h3>
                            </div>
                            <hr>

                            <div class="card-div-1">
                                <label id="sanderr_result_1" class="control-label mb-1" style="font-size:17px"></label><br>
                                <label id="sanderr_result_2" class="control-label mb-1" style="font-size:17px"> </label><br>
                                <label id="sanderr_result_3" class="control-label mb-1" style="font-size:17px"></label><br>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">SandBag</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Rank</h3>
                            </div>
                            <hr>
                            <div class="card-div-1">
                                <img id="sand_rank_img" src="{% static 'images/icon/medal_4.png' %}" width=150px>
                                <font id="sand_rank" style="font-size:80px;margin-left:50px;vertical-align: middle;"></font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Translate</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Endpoint</h3>
                            </div>
                            <hr>
                            <div class="card-div-1">
                                <div class="form-group has-success">
                                    <label for="endpoint" class="control-label mb-1">Endpoint</label>
                                    <input id="translate_endpoint" name="endpoint" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                </div>
                                <div>
                                    <button type="button" class=" btn-success btn-lg btn-info" id="translate_btn_submit">Submit</button>
                                    <a>&nbsp;&nbsp;</a>
                                    <button type="button" class=" btn-lg btn-info" style="background-color:red;" id="translate_btn_reset">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Translate</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2"><button id="translate_api_info">Info</button></h3>
                            </div>
                            <hr>
                            <div class="card-div-1">
                                <font id="translate_result" style="font-size:15px;margin-left:10px"></font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright 2020 © eCloudvalley Digital Technology Co., Ltd. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>


    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}