 {% extends 'based.html' %} {% block content %} {% load static %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<link rel="stylesheet" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
<script src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center">Request Power</div>
                        <div class="card-body">
                            <div class="card-div-0">
                                <div style="text-align: center;">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="power-switch">
                                        <label class="custom-control-label" for="power-switch">Power On/Off</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center">Request Version</div>
                        <div class="card-body">
                            <div class="card-div-0">
                                <div style="text-align: center;">
                                    <select class="form-control" id="request_version">
                                        <option value="v1"> Version 1 </option>
                                        <option value="v2"> Version 2 </option>
                                        <option value="v3"> Version 3 </option>
                                    </select><br>
                                    <button class="btn-success btn-lg btn-info" id="submit-request-version">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center">WAF Detect</div>
                        <div class="card-body">
                            <div class="card-div-0">
                                <div style="text-align: center;">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="waf-switch">
                                        <label class="custom-control-label" for="waf-switch">Detect On/Off</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Account</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Create Token</h3>
                            </div>
                            <hr>
                            <div class="card-div-0">
                                <div style="text-align:center;">
                                    <button class=" btn-success btn-lg btn-info" id="submit-token">Submit</button>
                                    <button class=" btn-success btn-lg btn-info" id="check-token">Check</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Server Request</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Request Speed</h3>
                            </div>
                            <hr>
                            <div class="card-div-0">
                                <div style="text-align: center;">
                                    <input type="number" id="request_speed" class="form-control" name="request_speed" step="0.1" min="0.0" max="10.0"><br>
                                    <button class="btn-success btn-lg btn-info" id="submit-request-speed">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright 2020 © eCloudvalley Digital Technology Co., Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load staticfiles %}
    <link href="{% static 'css/setting-style.css' %}" rel="stylesheet" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
    <script src="{% static 'js/setting.js' %}"></script>
    {% endblock %}