<!doctype html>
<html lang="zh-TW" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title>{{ page.name }} - {{ env.site_name }}</title>

        <meta name="author" content="Stan.Ma">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="https://www.iconshock.com/image/Sophistique/Construction/sandbag">
        <link rel="icon" type="image/png" sizes="192x192" href="https://www.iconshock.com/image/Sophistique/Construction/sandbag">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.iconshock.com/image/Sophistique/Construction/sandbag">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <link rel="stylesheet" id="css-main" href="/assets/css/codebase.min.css">
        <link rel="stylesheet" href="/assets/js/plugins/sweetalert2/sweetalert2.min.css">
        <link rel="stylesheet" href="/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.css">
        <script src="https://kit.fontawesome.com/f6caad9293.js" crossorigin="anonymous"></script>

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
        <div id="page-container" class="enable-page-overlay side-scroll page-header-modern main-content-boxed side-trans-enabled">
            <!-- Header -->
            <header id="page-header">
                <!-- Header Content -->
                <div class="content-header">
                    <!-- Left Section -->
                    <div class="content-header-section">
                    </div>
                    <!-- END Left Section -->

                    <!-- Right Section -->
                    <div class="content-header-section">
                        <!-- User Dropdown -->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user d-sm-none"></i>
                                <span class="d-none d-sm-inline-block" id="team_name"></span>
                                <i class="fa fa-angle-down ml-5"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                                <!-- Toggle Side Overlay -->
                                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                <a class="dropdown-item" href="#" id="set_team_name" data-toggle="modal" data-target="#set-team-name-dialog">
                                    <i class="si si-wrench mr-5"></i> Set Team Name
                                </a>
                                <!-- END Side Overlay -->

{#                                <div class="dropdown-divider"></div>#}
                                <a class="dropdown-item" onclick="logout()">
                                    <i class="si si-logout mr-5"></i> Logout
                                </a>
                            </div>
                        </div>
                        <!-- END User Dropdown -->
                    </div>
                    <!-- END Right Section -->
                </div>
                <!-- END Header Content -->
            </header>
            <!-- END Header -->
            <div class="modal fade" id="set-team-name-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="block block-themed block-transparent mb-0">
                            <div class="block-header bg-primary-dark">
                                <h3 class="block-title">Set Your Team Name</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                        <i class="si si-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" id="setup_team_name" name="setup_team_name" placeholder="Please enter your new team name..">
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-alt-success" id="setup_team_name_btn">
                                <i class="fa fa-check"></i> Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>